.dialogItem {
  padding: 0 0 15px 0;
}

.dialogLink {
  text-decoration: none;
  color: #000;
}

.dialogLink:hover {
  color: var(--main-color);
}

.dialogLink.active {
  font-weight: bold;
  color: var(--main-color);
}
