.userPhoto {
  width: 100px;
  border-radius: 50%;
}

.pages {
  display: flex;
  justify-content: space-between;
  color: var(--background-color);
  cursor: pointer;
}

.page {
  width: 30px;
  text-align: center;
}

.selectedPage {
  font-weight: bold;
  color: var(--main-color);
}
