.usersPage {
  padding: 0 0 0 20px;
}

.usersList {
  list-style: none;
}

.user {
  padding: 0 0 20px 0;
}

.userPhoto {
  width: 100px;
  border-radius: 50%;
}

.button {
  height: 30px;
  width: 85px;
  padding: 0;
}