.usersPage {
  padding: 0 0 0 30px;
}

.user {
  padding: 0 0 20px 0;
}

.userPhoto {
  width: 100px;
  border-radius: 50%;
}

.pages {
  display: flex;
  justify-content: space-between;
  color: var(--background-color);
  cursor: pointer;
  padding: 10px 0 20px 0;
}

.page {
  width: 30px;
  text-align: center;
}

.selectedPage {
  font-weight: bold;
  color: var(--main-color);
}

.button {
  height: 30px;
  width: 85px;
  padding: 0;
}