.posts {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem 0 0 0;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
}
.posts h5 {
  margin: 0 0 1rem 0;
}
.textarea {
  resize: none;
  width: calc(100% - 0.1rem * 2);
  height: 4rem;
  padding: 0.5rem;
  font-size: 13px;
  background-color: white;
  border-radius: 10px;
}
.textareaBlock {
  display: flex;
}
.buttonWrapper {
  float: right;
}
.buttonWrapper input {
  margin: 0.7rem 0 0.7rem 0.5rem;
  padding: 0.5rem;
}
