.navigationMenu {
  background-color: #fff;
  font-size: var(--font-size);
  height: fit-content;
  border-radius: 10px;
  margin: 2rem 0 0 0;
}
.list {
  padding: 1rem;
}
.listItem {
  list-style: none;
  padding: 0 0 0.7rem 0;
  color: #777d74;
}
.listItem:nth-child(3) {
  padding: 0;
}
.active {
  color: var(--main-color);
  cursor: pointer;
}