.coverImage {
  width: 1200px;
}

.descriptionBlock {
  padding: 20px 0 0 20px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.userPhoto {
  width: 250px;
  border-radius: 50%;
}