:root {
  --background-color: #282c34;
  --main-color: #61dafb;
  --font-size: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

.app-wrapper {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.app-wrapper__content {
  grid-row: 2 / 2;
  grid-column: 2 / 3;
  font-size: var(--font-size);
}
