.message {
  display: inline-block;
  color: var(--background-color);
  font-size: 14px;
  padding: 0.5rem 0 0.5rem 0;
}
.message span {
  padding: 0.5rem 0;
  border-radius: 20px;
  padding: 0.75rem 1rem;
  margin: 0 1rem 1rem 0.3rem;
}
.myMessage {
  display: grid;
  grid-template-columns: 1fr 50px;
  text-align: right;
  float: right;
  clear: both;
}
.myMessage span {
  position: relative;
  text-align: right;
  word-break: break-word;
  color: #ffff;
  background: #50b5ff;
  box-shadow: 0 2px 4px 0 rgb(80 181 255);
}
.companionMessage {
  display: grid;
  grid-template-columns: 50px 1fr;
  float: left;
  clear: both;
}
.companionMessage span {
  text-align: left;
  color: #777d74;
  background-color: #ffff;
  box-shadow: 0px 0px 20px 0px rgb(44 101 144 / 10%);
}
